@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

// Fonts
$font-stack: 'Crimson Text', sans-serif;

// Colors
$primary-d1: #26014C;
$primary-d2: #390171;
$primary-m1: #5402A5;
$primary-m2: #6E08D4;
$primary-m3: #8827EA;
$primary-m4: #A361E5;
$primary-l1: #BD95E6;
$primary-l2: #D8C4EC;

$secondary-d1: #010157;
$secondary-d2: #01018B;
$secondary-m1: #0202BF;
$secondary-m2: #0202F4;
$secondary-m3: #2E2EFD;
$secondary-m4: #6B6BF5;
$secondary-l1: #A2A2F3;
$secondary-l2: #D4D4F6;

$accent-d1: #015B5B;
$accent-d2: #019090;
$accent-m1: #02C4C4;
$accent-m2: #0DEEEE;
$accent-m3: #46EAEA;
$accent-m4: #7EE7E7;
$accent-l1: #B0EAEA;
$accent-l2: #DCF3F3;

// Showcase divider
$showcase-gap: 40px;

// Navbar animation
@keyframes navbar-slide {
    0% {
        top: -64px;
    }
    100% {
        top: 0px;
    }
}

// Title Animation
$wipe-time: 1s;

@keyframes wipe-enter {
    0% {
        transform: scale(0, 0.025);
    }
    50% {
        transform: scale(1, 0.025);
    }
}

@keyframes wipe-enter-text {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes wipe-enter-line {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        transform: scale(0, 1);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-stack;
    font-weight: 400;
    font-style: normal;
}

/* Custom Navbar Colors */
.navbar-custom {
    animation-name: navbar-slide;
    animation-duration: $wipe-time;
    animation-iteration-count: 1;

    background-color: $secondary-l2;
    position: fixed;
    width: 100%;
    border-bottom: 3px solid $secondary-m4;
    z-index: 1;
    top: 0px;
    transition: top 1.5s;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: $secondary-d2;
}

.nav-link {
    font-style: italic;
}

.nav-item {
    border-bottom: 3px solid transparent;
    transition: text-shadow .3s;
}

.nav-item:hover {
    border-bottom-color: $accent-d2;
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand:hover {
    color: $primary-m1;
}

.navbar-custom .navbar-toggler-icon {
    background-color: transparent;
    color: $primary-m3;
}

.navbar-custom .navbar-toggler {
    border-color: $primary-m3;
    border-radius: 0;
}

.navbar-toggler-icon {
    // set stroke
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(136, 39, 234, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

h1 {
    font-size: 64px;
    text-align: center;
    font-weight: 700;
    color: $secondary-l1;
}

h2 {
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    color: $secondary-l1;
    margin-bottom: 50px;
}

h3 {
    font-size: 32px;
    text-align: center;
    font-weight: 400;
    font-style: italic;
    color: $secondary-l1;
    max-width: 612px;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    font-size: 28px;
    text-align: center;
    color: $primary-l1;
}

h5 {
    font-size: 24px;
    font-style: italic;
    color: $accent-l1;
    margin-left: 50px;
    margin-right: 50px;
}

p {
    color: $accent-l1;
    font-size: 18px;
    margin-left: 50px;
    margin-right: 50px;
}

hr {
    display: block;
    height: 3px;
    border: 0;
    background-color: $accent-d2;
    opacity: 100%;
    padding: 0;
    margin-top: 22px;
    margin-bottom: 22px;
    width: 60%;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
}

.bright-spacer-line {
    background-color: $accent-m3;
    height: 5px;
}

.background {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $secondary-d1;
    min-height: 1000px;
    justify-content: center;
}

.dark-header {
    color: $primary-d1;
}

#main-banner {
    background-image: url(res/main-bg-img.png);
}

#about-banner {
   background-image: url(res/landscape-img.png);
}

#contact-banner {
    background-image: url(res/programming-stock-img.png);
}


.strip-highlight {
    animation-name: wipe-enter;
    animation-duration: $wipe-time;
    animation-iteration-count: 1;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 5px solid $secondary-d1;

    min-height: 380px;
    width: 100%;
    max-width: 1920px;
    background-color: $primary-d1;
    margin-left: auto;
    margin-right: auto;
    flex: 0 1 auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.strip-highlight > h1, h3, h4, p, #language-container {
    animation-name: wipe-enter-text;
    animation-duration: calc($wipe-time * 2);
    animation-iteration-count: 1;
}

.strip-highlight > hr {
    animation-name: wipe-enter-line;
    animation-duration: calc($wipe-time * 2);
    animation-iteration-count: 1;
}

#banner-strip {
    margin-top: 280px;
}

.vspacer {
    flex: 1 1 auto;
}

// Arrows
.arrow {
    border: solid $accent-m3;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    margin: 0 auto;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.showcase-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $showcase-gap;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    padding: 20px;
}

.showcase-separator-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: calc($showcase-gap / -2);
}

.showcase-item-container {
    width: 300px;
    height: 400px;
    flex: 1 1 auto;
    box-sizing: border-box;
    position: relative;
    margin-left: calc($showcase-gap / 2);
    margin-right: calc($showcase-gap / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.highlight > p {
    margin-left: 5px;
    margin-right: 5px;
}

.flip-card {
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    // To fix a 9 year old firefox bug, thanks guys
    transform: rotateX(0deg);
}

.flip-card-front {
    background-color: transparent;
    color: black;
}

.flip-card-back {
    color: white;
    transform: rotateY(180deg);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.flip-card-back > p {
    font-style: italic;
}

.showcase-item-container:after {
    content: '';
    position: absolute;
    right: 100%;
    top: 50%;
    display: inline-block;
    width: 3px;
    height: 50px;
    background-color: $accent-d1;
    transform: translateY(-50%);
    margin-right: calc(($showcase-gap - 5px) / 2) + 2px;
}

.showcase-item-container:first-child:after {
    background-color: transparent;
}


.showcase-item-container > p {
    width: 300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.showcase-img {
    border: 2px solid $primary-l1;
    width: 240px;
    height: 240px;
    object-fit: cover;
    object-position: center;
    background-position: center center;
}


#blog-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    max-width: 350px;
    height: 50px;
    align-items: center;
    font-size: 24px;
    text-decoration: none;
    color: $accent-l1;
    background-color: $primary-d2;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid $primary-m1;
    
    transition: border-color 0.8s;
}

#blog-button:hover {
    border-color: $accent-m4;
}

.highlight {
    padding: 5px;
    border-color: transparent;
    border-width: 2px;
    border-style: solid;
    transition: border-color 0.8s ease;
    -webkit-transition: border-color 0.8s ease;
    -moz-transition: border-color 0.8s ease;
    -o-transition: border-color 0.8s ease;
}

.highlight:hover {
    border-color: $accent-m2;
}

#language-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#contact-info {
    max-width: 900px;
    width: 80%;
    font-size: 24px;
    color: $accent-l1;
    background-color: $primary-d2;
    padding: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 3px solid $primary-m1;
    display: inline-block;
}

a {
    text-decoration: none;
}

.language-logo {
    width: auto;
    height: 64px;
}

#about-description {
    max-width: 800px;
    width: 55%;
}

.about {
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact-link {
    color: $primary-l1;
    overflow-wrap: break-word;
    transition: color 0.8s;
    text-decoration: underline;
}

.contact-link:hover {
    color: $accent-m2;
}