@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
body {
  font-family: "Crimson Text", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Custom Navbar Colors */
.navbar-custom {
  background-color: #D4D4F6;
  position: fixed;
  width: 100%;
  border-bottom: 3px solid #6B6BF5;
  z-index: 1;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
  color: #01018B;
}

.nav-link {
  font-style: italic;
}

.navbar-brand {
  font-weight: 700;
}

.navbar-custom .navbar-toggler-icon {
  background-color: transparent;
  color: #8827EA;
}

.navbar-custom .navbar-toggler {
  border-color: #8827EA;
  border-radius: 0;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(136, 39, 234, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

h1 {
  font-size: 64px;
  text-align: center;
  font-weight: 700;
  color: #A2A2F3;
}

h2 {
  font-size: 48px;
  text-align: center;
  font-weight: 700;
  color: #A2A2F3;
  margin-bottom: 50px;
}

h3 {
  font-size: 36px;
  text-align: center;
  font-weight: 400;
  font-style: italic;
  color: #A2A2F3;
  max-width: 612px;
  margin-left: auto;
  margin-right: auto;
}

h4 {
  font-size: 32px;
  text-align: center;
  color: #BD95E6;
}

h5 {
  font-size: 24px;
  font-style: italic;
  color: #B0EAEA;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

p {
  color: #B0EAEA;
  font-size: 18px;
  margin-left: 50px;
  margin-right: 50px;
}

hr {
  display: block;
  height: 3px;
  border: 0;
  background-color: #019090;
  opacity: 100%;
  padding: 0;
  margin-top: 22px;
  margin-bottom: 22px;
  width: 60%;
  max-width: 830px;
  margin-left: auto;
  margin-right: auto;
}

.bright-spacer-line {
  background-color: #46EAEA;
  height: 5px;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #010157;
  min-height: 1000px;
  justify-content: center;
}

.dark-header {
  color: #26014C;
}

#main-banner {
  background-image: url(res/main-bg-img.png);
}

#about-banner {
  background-image: url(res/landscape-img.png);
}

#contact-banner {
  background-image: url(res/programming-stock-img.png);
}

.strip-highlight {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 380px;
  width: 100%;
  max-width: 1920px;
  background-color: #26014C;
  margin-left: auto;
  margin-right: auto;
  flex: 0 1 auto;
}

#banner-strip {
  margin-top: 280px;
}

.vspacer {
  flex: 1 1 auto;
}

.arrow {
  border: solid #46EAEA;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  margin: 0 auto;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.showcase-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
}

.showcase-separator-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: -20px;
}

.showcase-item-container {
  width: 300px;
  flex: 1 1 auto;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.showcase-item-container:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  display: inline-block;
  width: 3px;
  height: 50px;
  background-color: #015B5B;
  transform: translateY(-50%);
  margin-right: 19.5px;
}

.showcase-item-container:first-child:after {
  background-color: transparent;
}

.showcase-item-container > p {
  width: 300px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.showcase-img {
  border: 2px solid #BD95E6;
}

#blog-button {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  max-width: 400px;
  height: 50px;
  align-items: center;
  font-size: 24px;
  text-decoration: none;
  color: #B0EAEA;
  background-color: #390171;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #5402A5;
}

#language-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#contact-info {
  max-width: 900px;
  min-width: 450px;
  width: 60%;
  font-size: 24px;
  color: #B0EAEA;
  background-color: #390171;
  padding: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #5402A5;
  display: inline-block;
}

a {
  color: #BD95E6;
}

.language-logo {
  width: auto;
  height: 64px;
}

#about-description {
  max-width: 800px;
  width: 55%;
}

.about {
  padding-top: 50px;
  padding-bottom: 50px;
}/*# sourceMappingURL=style.css.map */